<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_BusMap"
        tools:targetApi="31" >
        <activity
            android:name=".Linhas3"
            android:exported="false" />
        <activity
            android:name=".Linharua3"
            android:exported="false" />
        <activity
            android:name=".Linhas2"
            android:exported="false" />
        <activity
            android:name=".Linharua2"
            android:exported="false" />
        <activity
            android:name=".Linhas"
            android:exported="false" />
        <activity
            android:name=".Linharua"
            android:exported="false" />
        <activity
            android:name=".Ponto3"
            android:exported="false" />
        <activity
            android:name=".Rua3"
            android:exported="false" />
        <activity
            android:name=".Rua2"
            android:exported="false" />
        <activity
            android:name=".Ponto2"
            android:exported="false" />
        <activity
            android:name=".Linha3"
            android:exported="false" />
        <activity
            android:name=".Linha2"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Rua"
            android:exported="false" />
        <activity
            android:name=".Ponto"
            android:exported="false" />
        <activity
            android:name=".Favoritos"
            android:exported="false" />
        <activity
            android:name=".Linha"
            android:exported="false" />
        <activity
            android:name=".Historico"
            android:exported="false" />
        <activity
            android:name=".Faleconosco"
            android:exported="false" />
        <activity
            android:name=".Cadastro"
            android:exported="false" />
        <activity
            android:name=".Esquecisenha"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Perfil"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>